{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block app_content %}
    {% for year, weeks_dict in data.items() %}
        <h2>Year: {{ year }}</h2>
        {% for week, matchup_list in weeks_dict.items() %}
            <h4>Week: {{ week }}</h4>
            {% for matchup in matchup_list %}
                <div>{{ matchup.winner }} beat {{ matchup.loser }} by a score of: {{ matchup.winner_score }} to {{ matchup.loser_score }}</div>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}