{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block app_content %}
    <h2>All Time Low</h2>
    {% for score in lows %}
        <div>{{ score.rank }}. {{ score.year }} Week {{ score.week }} {{ score.team }} scored a measly {{ score.score }}</div>
    {% endfor %}
    <h2>All Time Highs</h2>
    {% for score in highs %}
        <div>{{ score.rank }}. {{ score.year }} Week {{ score.week }} {{ score.team }} scored a monstrous {{ score.score }}</div>
    {% endfor %}
    <h2>Blowouts</h2>
    {% for score in blowouts %}
        <div>{{ score.rank }}. {{ score.year }} Week {{ score.week }} {{ score.winner }} beat {{score.loser }} by {{score.difference}} points! ({{score.winner_score}} to {{score.loser_score}})</div>
    {% endfor %}

{% endblock %}